<section class="form-page">
  <main class="container-form">
    <div class="header-filtros">
      <form
        [formGroup]="pagamentoForm"
        (ngSubmit)="getPagamentos()"
        class="filtro-formulario"
      >
        <!-- Campo de busca -->
        <mat-form-field class="custom-form-field" appearance="outline">
          <input
            matInput
            formControlName="consultar"
            placeholder="Buscar por identificação, numero do pagamento"
          />
        </mat-form-field>

        <!-- Select de filtro -->
        <mat-form-field
          class="custom-form-field filtro-select"
          appearance="outline"
        >
          <mat-select formControlName="status">
            <mat-option value="">Todos</mat-option>
            <mat-option value="PENDENTE_PROCESSAMENTO">Pendente</mat-option>
            <mat-option value="PROCESSADO_SUCESSO">Processado</mat-option>
            <mat-option value="PROCESSADO_FALHA">Falha</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <!-- Botão Novo Pagamento -->
      <button
        mat-stroked-button
        color="primary"
        class="botao-novo-pagamento"
        (click)="openDialogAdicionar()"
      >
        <mat-icon>description</mat-icon>
        &nbsp; Novo Pagamento
      </button>
    </div>

    <div>
      <table mat-table [dataSource]="pagamento" class="tabela-pagamento">
        <!-- CPF/CNPJ -->
        <ng-container matColumnDef="cpfCnpj">
          <th mat-header-cell *matHeaderCellDef>Identificação</th>
          <td mat-cell *matCellDef="let p">{{ p.cpfCnpj }}</td>
        </ng-container>

        <!-- Método Pagamento -->
        <ng-container matColumnDef="metodoPagamento">
          <th mat-header-cell *matHeaderCellDef>Método de pagamento</th>
          <td mat-cell *matCellDef="let p" style="text-align: center">
            {{
              p.metodoPagamento === "CARTAO_CREDITO"
                ? "Cartão"
                : p.metodoPagamento === "CARTAO_DEBITO"
                ? "Débito"
                : p.metodoPagamento === "BOLETO"
                ? "Boleto"
                : p.metodoPagamento
            }}
          </td>
        </ng-container>

        <!-- Valor -->
        <ng-container matColumnDef="valor">
          <th mat-header-cell *matHeaderCellDef>Valor</th>
          <td mat-cell *matCellDef="let p">
            {{ p.valor | currency : "BRL" : "symbol" }}
          </td>
        </ng-container>

        <!-- Status -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let p">
            <span class="status-box" [ngClass]="getStatusClass(p.status)">
              {{
                p.status === "PROCESSADO_FALHA"
                  ? "Processado com falha"
                  : p.status === "PROCESSADO_SUCESSO"
                  ? "Processado com sucesso"
                  : "Pendente de Processamento"
              }}
            </span>
          </td>
        </ng-container>

        <!-- Ações -->
        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef>Ações</th>
          <td mat-cell *matCellDef="let p" class="celula-botoes-acao">
            <button
              mat-flat-button
              color="primary"
              class="btn-acao"
              (click)="inativarPagamento(p.id)"
            >
              Inativar
            </button>
            <button
              mat-stroked-button
              color="accent"
              class="btn-processar"
              (click)="processarPagamento(p.idPagamento)"
            >
              Processar
            </button>
          </td>
        </ng-container>

        <!-- Cabeçalhos e linhas -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <mat-paginator
      [length]="totalItems"
      [pageSize]="pageSize"
      [pageSizeOptions]="[6, 12, 24, 36]"
      [showFirstLastButtons]="true"
      [pageIndex]="pageIndex"
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </main>
</section>
