.toast-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  color: rgb(51, 51, 51);
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: bold;
}

.toast-content {
  display: flex;
  align-items: center;
  gap: 8px;
}

.failure-icon {
  color: rgb(151, 0, 0);
}

.toast-content span {
  flex: 1;
  text-align: center;
}

.transparent-icon-button {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
