.form-page {
  flex: 1;
  overflow-y: auto;
  margin-top: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  z-index: 1000;
  padding: 0px 30px 10px 30px;
}

.container-form {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem 0 1.5rem;
  overflow: hidden;
}

.form-toolbar {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.header-filtros {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 24px;
}

.filtro-formulario {
  display: flex;
  align-items: center;
  gap: 16px;
}

.filtro-formulario mat-form-field:first-child {
  flex-grow: 2;
}

.filtro-formulario mat-form-field:nth-child(2) {
  flex-grow: 1;
}

.custom-form-field {
  max-width: none;
  width: 100%;
}

.filtro-select {
  width: 150px;
}

.botao-novo-pagamento {
  height: 56px;
  text-transform: none;
  font-weight: 500;
  border-color: #007bff;
  color: #007bff;
}

.botao-novo-pagamento mat-icon {
  font-size: 20px;
}

.tabela-pagamento {
  width: 100%;
  border-spacing: 0;
}

.mat-header-cell,
.mat-cell {
  padding: 12px 16px;
}

.tabela-pagamento .mat-cell {
  color: #6c757d;
}

.tabela-pagamento .mat-header-cell {
  color: #343a40;
  font-weight: bold;
}

.status-box {
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  min-width: 140px;
}

.status-success {
  background-color: hsl(134, 41%, 88%);
  color: #343a40;
}

.status-pending {
  background-color: #e2e6ea;
  color: #343a40;
}

.status-error {
  background-color: #f8d7da;
  color: #343a40;
}

.celula-botoes-acao {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-acao {
  text-transform: none;
}

.mat-stroked-button.mat-primary[disabled],
.mat-flat-button.mat-accent[disabled] {
  background-color: #e2e6ea !important;
  color: #6c757d !important;
  border-color: #e2e6ea !important;
  cursor: not-allowed;
}

.mat-stroked-button.mat-primary[disabled] {
  background-color: #f8f9fa !important;
  border-color: #f8f9fa !important;
}

.mat-flat-button.mat-accent[disabled] {
  background-color: #f8f9fa !important;
  border-color: #f8f9fa !important;
}

.mat-stroked-button.mat-primary:not([disabled]) {
  border-color: #007bff;
  color: #007bff;
}

.mat-flat-button.mat-accent:not([disabled]) {
  background-color: #007bff;
  color: #ffffff;
}

.btn-processar:not([disabled]) {
  background-color: #ffffff !important;
  color: #007bff !important;
  border: 1px solid #007bff !important;
}

.mat-stroked-button.btn-processar:not([disabled]) {
  background-color: #ffffff !important;
  color: #007bff !important;
  border: 1px solid #007bff !important;
}

.tabela-pagamento
  .mat-row:not(:last-child)
  .mat-cell:last-child
  .mat-stroked-button:not([disabled]) {
  color: #007bff;
  border-color: #007bff;
}

.tabela-pagamento
  .mat-row
  .mat-cell:last-child
  .mat-flat-button:not([disabled]) {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
}
